body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
}

.game-board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: 2px solid black;
}

.cell {
  border: 0.5px solid #eee;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}

.foodmap {
  background-color: beige;
  text-decoration: dotted;
}